/*
colors:
body bg: #405766
footer bg: #082334

achievements colors:
title: #ab5a03
description: #513304
icon bg: #373737
icon color: #efb037
*/

/* default styles and colors */
body { font-size: 14px; }
body { margin: 0; padding: 0; background: #405766 url('/images/BodyTopBG01.jpg') no-repeat scroll top center; color: #ffffff; }
a { font-weight: bold; text-decoration: none; color: #efb037; }
a:hover { text-decoration: underline; }
h1 { font-size: 1.6em; color: #373737; }
h2 { font-size: 1.4em; color: #373737; }
h3 { font-size: 1.2em; color: #373737; }

/* main layout */
#page { margin: 40px 0 0 0; padding: 0; background: transparent url('/images/bgBottom.png') no-repeat scroll bottom center; }
#main { margin: 0 auto 0 auto; padding: 0; width: 844px; background: transparent url('/images/BG01.png') repeat-y scroll 0px 14px; }
#content { margin: 0 20px 0 20px; padding: 0; }

/* head */
#head { margin: 0 auto 0 auto; padding: 302px 0 0 0; width: 844px; background: transparent url('/images/bandeauUpBG01.png') no-repeat scroll top center; }
#anonymBar, #userBar { margin: 0 auto 0 auto; padding: 0 5px 0 5px; width: 800px; border-radius: 5px; font-weight: bold; }
#anonymBar, #userBar { color: #ffffff; text-align: center; }
#anonymBar a, #userBar a { color: #efb037; font-size: 1.2em; text-transform: uppercase; }

/* foot */
#foot { margin: 0; padding: 80px 5px 5px 5px; background-color: #082334; font-size: 0.7em; }
#foot { color: #ffffff; }
#foot a { color: #efb037; }

/* forms */
label { display: block; }
input, textarea { border: 1px solid #000000; }
input, textarea { background-color: #999999; }
.error { color: #dd0000; }

/* achievements */
.achievement img { border: 0; padding: 0; margin: 0; }
.achievement img { vertical-align: middle; }
.achievement img.newIcon { vertical-align:top; }

/* action links */
.winnerLink { background: transparent url('/images/silk/user_add.png') no-repeat scroll center left; padding: 0 1px 0 16px; }
.expiredLink { background: transparent url('/images/silk/clock_red.png') no-repeat scroll center left; padding: 0 1px 0 16px; }
.editLink { background: transparent url('/images/silk/pencil.png') no-repeat scroll center left; padding: 0 1px 0 16px; }
.deleteLink { background: transparent url('/images/silk/delete.png') no-repeat scroll center left; padding: 0 1px 0 16px; }

/* achievement comments */
.achievementDetails { min-height: 80px; margin-bottom: 8px; }
.comment { min-height: 80px; margin-bottom: 8px; }
.details { padding: 4px; margin: 0 0 0 80px; }
.author { color: #cccccc; font-style:italic; }
.comment blockquote { font-weight: bold; margin: 0; }

/* users */
.gravatar { display: inline; position: absolute; padding: 4px; margin: 0 12px 0 0; }
.gravatar img { border-radius: 5px; }

