/*
colors:
body bg: #405766
footer bg: #082334

achievements colors:
title: #ab5a03
description: #513304
icon bg: #373737
icon color: #efb037
*/

/* default styles and colors */
body { margin: 0; padding: 0; background: #405766 url('/images/bgBody.jpg') repeat-y scroll top center; }
a { font-weight: bold; text-decoration: none; color: #efb037; }
a:hover { text-decoration: underline; }
h1 { font-size: 1.6em; color: #373737; }
h2 { font-size: 1.4em; color: #373737; }
h3 { font-size: 1.2em; color: #373737; }

/* main layout */
#body { margin: 0; padding: 0; background: transparent url('/images/bgTop.jpg') no-repeat scroll top center; }
#content { margin: 0; padding: 0; background: transparent url('/images/bgBottom.png') no-repeat scroll bottom center; }
#main { margin: 0 auto 0 auto; padding: 450px 0 0 0; width: 800px; }
#foot { margin: 0; padding: 100px 5px 5px 5px; background-color: #082334; font-size: 0.7em; }

/* head */
#anonymBar { margin: 0; padding: 0 5px 0 5px; background-color: #4f4f4f; border-radius: 5px; color: #ab5a03; font-weight: bold; }
#anonymBar a { color: #efb037; }
#userBar { margin: 0; padding: 0 5px 0 5px; background-color: #4f4f4f; border-radius: 5px; color: #ab5a03; font-weight: bold; }
#userBar a { color: #efb037; }

/* foot */
#foot { color: #ffffff; }
#foot a { color: #efb037; }

/* forms */
label { display: block; }
input, textarea { border: 1px solid #000000; }
input, textarea { background-color: #999999; }
.error { color: #dd0000; }

/* achievements */
.achievement img { border: 0; padding: 0; margin: 0; }
.achievement img { vertical-align: middle; }
.achievement img.newIcon { vertical-align:top; }

/* action links */
.editLink { background: transparent url('/images/silk/pencil.png') no-repeat scroll center left; padding: 0 0 0 16px; }
.deleteLink { background: transparent url('/images/silk/delete.png') no-repeat scroll center left; padding: 0 0 0 16px; }

